<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.wanandroid">

    <application>
        <activity android:name=".ui.main.WanMainActivity"></activity>
        <activity android:name=".ui.usuallyNet.WanUsuallyNetActivity"/>
        <activity android:name=".ui.articleList.WanArticleListActivity" />
        <activity android:name=".ui.systemData.WanSystemDataActivity" />
    </application>

</manifest>